body {
  background-image: url('https://img.freepik.com/premium-vector/white-gray-wave-abstract-background-soft-design-graphic-work_41084-468.jpg?w=1800');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
}
.reset-password-container {
  width: 80%;
  max-width: 400px; 
  margin: 10% auto; 
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
}

.reset-password-container h2 {
  color: #333;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.reset-password-container form {
  margin-top: 1rem;
}

.reset-password-container .form-group {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-bottom: 1rem;
}

.reset-password-container .form-group .input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.reset-password-container .form-group label {
  flex: 1; 
  margin-right: 1rem;
  text-align: right;
  color: #333;
  font-size: 1rem;
}

.reset-password-container .form-group input[type="email"],
.reset-password-container .form-group input[type="password"] {
  flex: 2; 
  width: auto; 
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
}

.reset-password-container button[type="submit"] {
  background-color: orange; 
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem; 
}

.reset-password-container button[type="submit"]:hover {
  background-color: #ff8500; 
}

.reset-password-container .message {
  margin-top: 1rem;
  color: green;
  text-align: center;
}

.reset-password-container .back-to-login {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease;
  margin-top: 1rem; 
}

.reset-password-container .back-to-login:hover {
  color: #0056b3;
}