<body>
  <div class="reset-password-container">
<h2>Reset Password</h2>
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="input-group">
      <label for="email">Email Id:</label>
      <input type="email" id="email" name="email" [(ngModel)]="emailId" required>
    </div>
    <div class="input-group">
      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
    </div>
  </div>
  <button type="submit">Reset Password</button>
</form>
</div>
</body>