body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url('https://img.freepik.com/premium-photo/abstract-green-background-texture_196038-14201.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verify-otp-container {
  width: 80%;
  max-width: 400px;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgba(249, 249, 249, 0.9); /* Semi-transparent background */
  text-align: center;
  z-index: 1; /* Ensure it's above the background */
}

.verify-otp-container h2 {
  color: #333;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.verify-otp-container input {
  width: calc(100% - 20px);
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.verify-otp-container button {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.verify-otp-container button:hover {
  background-color: #ff8500;
}

.verify-otp-container .error-message {
  color: red;
  margin-top: 0.5rem;
}
