<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verify OTP</title>

</head>
<body>
  
  <div class="verify-otp-container">
    <h2>Verify OTP</h2>
    <input [(ngModel)]="emailId" placeholder="Enter your email" />
    <input [(ngModel)]="otp" placeholder="Enter OTP" />
    <button (click)="verifyOtp()">Verify OTP</button>
    <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
</body>
</html>