* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    width: 100%;
    height: 100vh;
    background-color: #f8f4ec;
    background-image: url("../../assets/images/bg2.jpg");
    background-size: cover;
    background-position: center;
}

section .text {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    text-align: left;
}

section .text .word {
    color: #cfcfcf;
    font-size: 14px;
    letter-spacing: 1px;
}

section .text h1 {
    font-size: 3rem;
    color: #fff;
    line-height: 1.2;
}

section .text h1 span {
    color: #98e54c;
}

section .text .textarea {
    width: 80%;
    margin-top: 20px;
    color: #cfcfcf;
    text-align: justify;
    line-height: 1.5;
}

.slider-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-color: green;
}

.sliding-text {
    font-style: italic;
    color: black;
    font-size: 24px;
    padding-left: 100%;
    animation: slide 10s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.second {
    width: 100%;
    height: auto;
    background: #000;
    padding: 50px 0;
}

.second .img_box {
    width: 100%;
    height: auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.second .img_box .img_card {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 35px;
    overflow: hidden;
}

.second .img_box .img_card .display_text {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
}

.second .img_box .img_card .display_text p {
    color: yellow;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.second .img_box .img_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 35px;
}

.menu {
    width: 100%;
    height: auto;
    background: #000;
    padding: 50px 0;
}

.menu h1 {
    color: #fff;
    font-family: "Euphemia";
    text-align: center;
    margin-bottom: 25px;
}

.menu .m_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 5%;
}

.menu .m_box .m_cards {
    width: 300px;
    height: auto;
    text-align: center;
}

.menu .m_box .m_cards .m_img {
    width: 100%;
    height: 300px;
    border-radius: 35px;
    overflow: hidden;
    margin-bottom: 10px;
}

.menu .m_box .m_cards .m_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.menu .m_box .m_cards h6 {
    color: #98e54c;
    margin: 10px 0;
}

.menu .m_box .m_cards .m_btn {
    text-decoration: none;
    color: #fff;
    background: #000;
    border: 1px solid #fff;
    padding: 8px 15px;
    border-radius: 25px;
    display: inline-block;
    transition: all 0.3s ease;
}

.menu .m_box .m_cards .m_btn:hover {
    background: #fff;
    color: #000;
}

.banner {
    width: 100%;
    height: auto;
    background: #000;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.banner .b_text {
    width: 45%;
}

.banner .b_text h6 {
    color: #98e54c;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.banner .b_text h1 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.banner .b_text p {
    color: #cfcfcf;
    line-height: 1.5;
    text-align: justify;
}

.banner .b_text .b_btn {
    text-decoration: none;
    color: #fff;
    background: #000;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 25px;
    display: inline-block;
    transition: all 0.3s ease;
}

.banner .b_text .b_btn:hover {
    background: #fff;
    color: #000;
}

.banner img {
    width: 45%;
    height: auto;
    border-radius: 35px;
    object-fit: cover;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .second .img_box,
    .menu .m_box {
        flex-direction: column;
        align-items: center;
    }
    
    .menu .m_box .m_cards {
        width: 80%;
    }
}

@media (max-width: 768px) {
    section .text h1 {
        font-size: 2.5rem;
    }
    
    .banner .b_text,
    .banner img {
        width: 80%;
    }
}

@media (max-width: 480px) {
    section .text h1 {
        font-size: 2rem;
    }
    
    section .text .textarea {
        width: 100%;
    }
    
    .banner .b_text h1 {
        font-size: 1.8rem;
    }
    .fff{
        align-content: center;
    }
}
  