.footer-area{
  padding: 40px 0px;
  background-color:black;
  color: #fff;
  border: 5px solid white;
}
.footer-area a{
  text-decoration: none;
}
.footer-area .footer-heading{
  font-size: 24px;
  color: #fff;
}
.footer-area .footer-underline{
  height: 1px;
  width: 70px;
  background-color: #ddd;
  margin: 10px 0px;
}
.copyright-area{
  padding: 14px 0px;
  background-color: #262626;
}
.copyright-area p{
  margin-bottom: 0px;
  color: #fff;
}
.copyright-area .social-media{
  text-align: end;
}
.copyright-area .social-media a{
  margin: 0px 10px;
  color: #fff;
  width: 20px;
} .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
  }