<div class="container mt-5">
  <h2 class="mb-4">Countries</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let country of countries">
      <div class="card mb-4 shadow-sm" (click)="navigateToCountryRecipes(country.name)">
        <img [src]="country.image" class="card-img-top" [alt]="country.name">
        <div class="card-body">
          <h5 class="card-title">{{ country.name }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div #statesSection class="container mt-5">
  <h2 class="mb-4">States of India</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let state of states">
      <div class="card mb-4 shadow-sm" (click)="navigateToStateRecipes(state.name)">
        <img [src]="state.image" class="card-img-top" [alt]="state.name">
        <div class="card-body">
          <h5 class="card-title">{{ state.name }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
