.container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    margin-bottom: 30px;
    color: #343a40;
}

.text-center {
    text-align: center;
}


.container p {
    font-size: 1.4rem;
}


.card {
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card img {
    height: 360px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.card-body {
    background-color: #f8f9fa;
    padding: 15px;
    text-align: center;
}


.btn-transparent {
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn-transparent:hover {
    text-decoration: underline;
    color: #0056b3;

    .card img {
        height: 260px;
    }
}