.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem 15px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-image {
  width: 100%;
  height: 100%;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 1.25rem;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  font-weight: 700;
}

.card-text {
  color: #666;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 1rem;
}

ul {
  padding-left: 1.25rem;
  list-style-type: decimal;
}

li {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  color: #333;
}

.btn-primary {
  background-color: #007bff;
  border: 1px solid #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  text-align: center;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-primary:focus,
.btn-primary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-save {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-save:hover {
  background-color: #218838;
}

.btn-save .fa {
  font-size: 18px;
  margin-right: 5px; /* Adjust icon margin */
}

.btn-save .fa.saved {
  color: gold;
}

.button-group {
  display: flex;
  justify-content: space-between; /* Add space between buttons */
  align-items: center; /* Align items vertically */
  margin-bottom: 10px; /* Add space below the button group */
}

.star {
  cursor: pointer;
  color: #ccc;
  font-size: 30px;
}

.star.active,
.star.filled {
  color: gold;
}

.rate-text {
  font-size: 1.5rem;
}

.rating-section {
  margin-top: 1.5rem;
}