<div class="container mt-5">
  <div class="card mb-4 shadow-sm">
    <div class="row no-gutters">
      <!-- Image column -->
      <div class="col-md-6">
        <div class="card-image">
          <img [src]="recipe?.image" class="card-img-top" [alt]="recipe?.name">
        </div>
      </div>
      <!-- Recipe details column -->
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title">{{ recipe?.name }}</h2>
          <p class="card-text">{{ recipe?.description }}</p>
          <h4>Ingredients</h4>
          <p>{{ recipe?.ingredients }}</p>
          <h4>Preparation Steps</h4>
          <ul>
            <li *ngFor="let step of formatPreparationSteps(recipe?.preparation)" class="card-text">{{ step }}</li>
          </ul>
          <div class="button-group">
            <a [href]="recipe?.videoUrl" target="_blank" class="btn btn-primary">Watch Video</a>
            <button class="btn btn-save" (click)="saveRecipe()">
              <i class="fa fa-bookmark mr-1" *ngIf="isRecipeSaved"></i>
              {{ isRecipeSaved ? 'Saved' : 'Save Recipe' }}
            </button>
          </div>
          <!-- Rating Section -->
          <div class="rating-section mt-3">
            <div class="rating">
              <span class="rate-text">Rate this recipe:</span>
              <span *ngFor="let star of stars"
                    class="star"
                    (click)="rateRecipe(star)"
                    [class.filled]="star <= currentRating"
                    [class.active]="star === currentRating">&#9733;</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>