.captcha-container {
  display: flex;
  flex-direction: column; /* Display children elements in a column layout */
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.captcha-input {
  display: flex;
  align-items: center;
}

.captcha {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 2px;
  background-color: #e0e0e0;
  padding: 6px 15px;
  margin-right: 10px; 
  border-radius: 5px;
  user-select: none;
}

.captcha span {
  margin-right: 10px; 
}

.refresh-icon {
  cursor: pointer;
  font-size: 18px;
  color: #007bff;
}

.input-container {
  display: flex;
  align-items: center;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.message {
  margin-top: 10px;
  font-size: 14px;
  color: rgb(21, 131, 32);
}
