body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

header {
    position: relative;
}

.header-image {
    position: relative;
    text-align: left;
    color: rgb(196, 67, 67);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.header-image img {
    width: 100%;
    height: auto;
}

.header-image h1 {
    position: absolute;
    top: 30%;
    left: 10%;
    transform: translateY(-50%);
    font-size: 3em;
    margin: 0;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.video-container video {
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
    margin: 10px 0;
}

.video-text {
    max-width: 800px;
    text-align: center;
    margin-bottom: 20px;
    padding: 0 10px;
}

.video-text p {
    font-size: 1.1em;
    line-height: 1.6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
}

.additional-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.additional-content img {
    width: 90%;
    max-width: 800px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 20px 0;
}

.additional-content p {
    font-size: 1.1em;
    line-height: 1.6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 60px;

}

/* Responsive Design */
@media (min-width: 768px) {
    .video-container {
        flex-direction: row;
        justify-content: center;
    }

    .video-container video {
        margin-right: 20px;
    }

    .additional-content {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: flex-start;
    }

    .additional-content img {
        margin-left: 20px;
    }
}