<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
      #google-btn {
        margin-top: 10px; /* Adjust the value as needed */
        width:110%,
      }
    </style>
</head>

<body>
  <div class="container">
    <h2>Login Form</h2>

    <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)" novalidate>
      <!-- Email Address Field -->
      <div class="form-group" [ngClass]="{'has-error': emailId.touched && emailId.invalid}">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input class="form-control" type="email" id="emailId" name="emailId" ngModel #emailId="ngModel"
              required
              pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              placeholder="Enter Email Address" />
        </div>
        <div *ngIf="emailId.touched && emailId.errors?.['required']" class="text-danger">Please enter your Email Address.</div>
        <div *ngIf="emailId.touched && emailId.errors?.['pattern']" class="text-danger">Email should contain only lowercase letters and be in the format 'example&#64;gmail.com'</div>
      </div>

      <!-- Password Field -->
      <div class="form-group" [ngClass]="{'has-error': password.touched && password.invalid}">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input class="form-control" type="password" id="password" name="password" ngModel #password="ngModel"
            required minlength="8"
            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}"
            placeholder="Enter Password" />
        </div>
        <div *ngIf="password.touched && password.errors?.['required']" class="text-danger">Please enter your password.</div>
        <div *ngIf="password.touched && password.errors?.['pattern']" class="text-danger">Password must include at least one lowercase letter, one uppercase letter, one number, and one special character.</div>
      </div>
      <app-captcha></app-captcha>
      <!-- Forgot Password and Sign Up Links -->
      <div class="form-group form-actions">
        <a routerLink="/request-otp" class="forgot-password pull-right">Forgot Password?</a>
        <div class="new-user-signup">
          New User? <a routerLink="/register">Sign Up</a>
        </div>
      </div>

      <!-- Login Button -->
      <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary login-button">Login</button>
    </form>

    <!-- Google Sign-In Button -->
    <div id="google-btn">
      <!-- Replace with your Google Sign-In button code -->
      <!-- Example: -->
      <button id="google-signin-btn" class="btn btn-danger">Sign in with Google</button>
    </div>
  </div>

  
  <script>
    
    function onGoogleSignIn(googleUser) {
    }
  </script>
</body>

</html>
