body {
  background-image: url('https://foodyoushouldtry.com/wp-content/uploads/2019/06/indian-spices.jpeg');
  background-color: #f9f9f9; 
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center; 
  height: 100vh; 
  display: flex; 
  align-items: center; 
}

.container {
  width: 400px;
  background-color: rgba(249, 249, 249, 0.8); 
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 10px;
}

.input-group-addon {
  background-color: #eee;
  border: 1px solid #ccc;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
}

.text-danger {
  font-size: small; 
  margin-bottom: -3px;
  padding: 5px; 
  color: #721c24; 
}

.error-message {
  color: #d9534f;
  font-size: 12px;
  margin-top: 5px;
}

.form-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forgot-password {
  color: blue;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.new-user-signup a {
  text-decoration: none;
}

.new-user-signup a:hover {
  text-decoration: underline;
}

.btn-primary {
  background-color: blue;
  border-color: blue;
  width: 100%;
}

.btn-primary:hover {
  background-color: blue;
  border-color: blue;
}

.alert {
  text-align: center;
}

.mt-3 {
  margin-top: 1rem;
}

.input-group {
  width: 100%;
}
