<header class="header">
  <nav class="nav container">
    <a routerLink="/" class="nav__logo">
      <img src="https://cookify.pro/wp-content/uploads/2024/02/cropped-Brown_Flat_Illustrative_Chef_Restaurant_Logo-removebg-preview.png" alt="Cookify Logo" class="nav__logo-image">
      <span class="nav__logo-text">COOKIFY</span>
    </a>

    <!-- Mobile Menu Toggle -->
    <div class="nav__toggle" *ngIf="isMobile" (click)="toggleMenu()">
      <span class="material-icons">menu</span>
    </div>

    <!-- Mobile Menu -->
    <div [ngClass]="{'nav__menu': true, 'show-menu': isMenuOpen}" *ngIf="isMobile">
      <ul class="nav__list">
        <li class="nav__item">
          <a routerLink="/" class="nav__link" (click)="closeMobileMenu()">Home</a>
        </li>
        <li class="nav__item">
          <a routerLink="/about" class="nav__link" (click)="closeMobileMenu()">About Us</a>
        </li>
        <li class="nav__item">
          <a routerLink="/foodrecipes" class="nav__link" (click)="closeMobileMenu()">Food Recipes</a>
        </li>
        <li class="nav__item">
          <a routerLink="/savedrecipes" class="nav__link" (click)="closeMobileMenu()">Saved Recipes</a>
        </li>
        <li class="nav__item" *ngIf="!isUserLoggedIn">
          <a routerLink="/login" class="nav__link nav__cta" (click)="closeMobileMenu()">Login</a>
        </li>
        <li class="nav__item" *ngIf="isUserLoggedIn">
          <a routerLink="/login" class="nav__link nav__cta" (click)="logout()">Logout</a>
        </li>
      </ul>
      <div class="nav__close" (click)="toggleMenu()">
        <span class="material-icons">close</span>
      </div>
    </div>

    <!-- Web Menu -->
    <div *ngIf="!isMobile">
      <ul class="nav_list_web">
        <li class="nav__item">
          <a routerLink="/" class="nav__link"><i class="fa-solid fa-house" style="color: #f5f5f5;"></i> Home</a>
        </li>
        <li class="nav__item">
          <a routerLink="/about" class="nav__link"><i class="fa-solid fa-circle-info" style="color: #f5f5f5;"></i> About Us</a>
        </li>
        <li class="nav__item">
          <a routerLink="/foodrecipes" class="nav__link"><i class="fa-solid fa-bowl-food" style="color: #ffffff; margin-right: 5px;"></i> Food Recipes</a>
        </li>
        <li class="nav__item">
          <a routerLink="/saved-recipes" class="nav__link"><i class="fa-solid fa-bookmark" style="color: #f5f5f5;"></i> Saved Recipes</a>
        </li>
        <li class="nav__item" *ngIf="!isUserLoggedIn">
          <a routerLink="/login" class="nav_link nav__cta">Login</a>
        </li>
        <li class="nav__item" *ngIf="isUserLoggedIn">
          <a routerLink=" " class="nav_link nav__cta" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
