.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 100;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 3.5rem;
  margin: 0.5rem;
}

.nav__logo {
  display: flex;
  align-items: center;
  color: hsl(28, 88%, 62%);
  transition: color 0.4s;
  font-size: 1.8rem;
  font-family: 'Dancing Script', cursive;
  text-decoration: none;
}

.nav__logo-image {
  width: 8rem; /* Adjusted size for better fit */
  height: auto;
  margin-right: 0.5rem;
}

.nav__toggle,
.nav__close {
  font-size: 1.5rem;
  color: hsl(0, 11%, 96%);
  cursor: pointer;
}

.nav__cta {
  background-color: hsl(28, 88%, 62%);
  color: hsl(0, 4%, 10%);
  border: none;
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0.35rem 1rem;
  text-decoration: none;
}

.nav__list,
.nav_list_web {
  display: flex;
  flex-direction: row;
  gap: 1rem; /* Adds gap between menu items */
}

.nav__item {
  list-style: none; /* Removes the bullets */
}

.nav__item:first-child {
  margin-right: 1rem; /* Adjust the margin-right as needed */
}

.nav__link {
  color: hsl(0, 0%, 95%);
  font-weight: 600;
  transition: color 0.4s;
  text-decoration: none;
}

.nav__link:hover {
  color: hsl(215, 88%, 62%);
}

.nav__menu {
  position: fixed;
  top: 0;
  right: -100%;
  background-color: hsla(0, 0%, 6%, 0.2);
  backdrop-filter: blur(16px);
  width: 80%;
  height: 100%;
  padding: 6rem 3rem 0;
  transition: right 0.4s;
}

.show-menu {
  right: 0;
}

@media screen and (min-width: 1150px) {
  .nav {
    height: 4rem;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav_list_web {
    gap: 2rem; 
  }
}
.nav_list_web .nav__item .nav__link i.fa-solid {
  margin-right: 5px; 
}
