
body {
  margin: 0;
  padding: 0;
  background-image: url('https://i.pinimg.com/originals/6d/79/e6/6d79e62312ae92757667ca1dae5289d9.jpg');
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-family: Arial, sans-serif;
  color: #333;
}

.form-container {
  width: 100%;
  max-width: 550px;
  margin: 100px auto;
  padding: 25px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 5px 0;
}


td {
  padding: 1px;
  vertical-align: middle;
}


input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 5px;
  margin: 5px 0 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box;
}


input[type="tel"],
input[type="email"] {
  margin-bottom: 15px; 
}


.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}


button.btn.btn-primary {
  padding: 5px 10px;
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button.btn.btn-primary:hover {
  background-color: #0056b3;
}


a[routerLink="/login"] {
  color: #007bff;
  text-decoration: none;
  margin-left: 10px;
}

a[routerLink="/login"]:hover {
  text-decoration: underline;
}


h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Dancing Script', cursive;
}

.text-danger {
  font-size: small; 
  margin-top: -16px;
  margin-bottom: -3px;
  padding: 5px; 
  color: #721c24; 
 

}


@media (max-width: 500px) {
  .form-container {
    padding: 15px;
  }

  td {
    display: block;
    width: 100%;
    padding: 5px 0;
  }

  .form-actions {
    flex-direction: column;
    align-items: flex-start;
  }

  button.btn.btn-primary {
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
  }

  a[routerLink="/login"] {
    display: block;
    margin-top: 10px;
    text-align: center;
  }
}


::placeholder {
  font-size: 14px; 
}
