body {
  padding-top: 70px;
}

.saved-recipes {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.saved-recipes h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}

.recipe-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.recipe-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-between;
}

.recipe-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.recipe-info {
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.recipe-description {
  font-size: 1rem;
  color: #666;
  line-height: 1.4;
  margin-bottom: 20px;
}

.btn-view-details {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  align-self: flex-start;
}

.btn-view-details:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .recipe-list {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .recipe-item {
    height: 350px;
  }

  .recipe-image {
    height: 150px;
  }

  .recipe-title {
    font-size: 1rem;
  }
}
