<body>
    <div class="saved-recipes">
   
    <div class="recipe-list">
      <div class="recipe-item" *ngFor="let recipe of savedRecipes">
        <div class="recipe-details">
          <img [src]="recipe.image" alt="Recipe Image" class="recipe-image">
          <div class="recipe-info">
            <div class="recipe-title">{{ recipe.name }}</div>
            <div class="recipe-description">{{ recipe.description }}</div>
            <a [routerLink]="['/recipe', recipe.id]" class="btn btn-view-details">View Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
