body {
  background-image: url('https://img.freepik.com/premium-photo/close-up-spices-herbs-cooking_266870-4294.jpg');
  background-size: cover; /* Cover the whole screen */
  background-repeat: no-repeat; /* Prevent background from repeating */
  background-position: center; /* Center the background image */
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  padding: 1.5rem; /* Reduced padding */
  border-radius: 10px;
  max-width: 800px; /* Adjusted max-width */
}

.animation-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem; /* Reduced padding */
}

.animation-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.request-password-container {
  flex: 1;
  max-width: 350px; /* Reduced max-width */
  padding: 1.5rem; /* Reduced padding */
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgba(249, 249, 249, 0.9); /* Semi-transparent background */
  text-align: center;
}

.request-password-container h2 {
  color: #333;
  font-size: 1.8rem; /* Reduced font-size */
  margin-bottom: 1rem;
}

.request-password-container form {
  margin-top: 1rem;
}

.request-password-container .form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.request-password-container label {
  margin-right: 1rem; 
}

.request-password-container input[type="email"] {
  flex: 1;
  width: calc(100% - 120px); 
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.request-password-container .button-group {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.request-password-container .send-otp-button {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 0.5rem; 
}

.request-password-container .send-otp-button:hover {
  background-color: #ff8500; 
}

.request-password-container .back-to-login {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease;
}

.request-password-container .back-to-login:hover {
  color: #0056b3;
}