<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset</title>
  
</head>
<body>
  <div class="container">
    <div class="animation-container">
      <img src="https://cdn.dribbble.com/users/1741026/screenshots/6549026/nest_forgot_password_dribbble.gif" alt="Password Reset Animation">
    </div>
    <div class="request-password-container">
      <!-- <h2>Password Reset</h2> -->
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email Id:</label>
          <input type="email" id="email" [(ngModel)]="email" name="email" required placeholder="Enter your email">
        </div>
        <div class="button-group">
          <button type="submit" class="send-otp-button">Send OTP</button>
          <a routerLink="/login" class="back-to-login">Back to Login</a>
        </div>
      </form>
      <p *ngIf="message">{{ message }}</p>
    </div>
  </div>
</body>
</html>
