<div class="container mt-5">
  <h2 class="text-center mb-4">{{ recipes[0]?.state?.name }} </h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let recipe of recipes">
      <div class="card mb-4 shadow-sm">
        <img [src]="recipe.image" class="card-img-top" [alt]="recipe.name">
        <div class="card-body">
          <h5 class="card-title">{{ recipe.name }}</h5>
          <p class="card-text">{{ recipe.description }}</p>
          <a [routerLink]="['/states', stateName, 'recipes', recipe.id]" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
